In [6]:
import pandas as pd
from dask import dataframe as dd
from faker import Faker
import numpy as np

/opt/homebrew/lib/python3.9/site-packages/dask/dataframe/__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

In [3]:
data = 'Data/FactInternetSales.csv'

df = pd.read_csv(data)

# Convert all column names to lowercase incase
df.columns = [col.lower() for col in df.columns]

In [4]:
df.head(10)

,productkey,orderdatekey,duedatekey,shipdatekey,customerkey,promotionkey,currencykey,salesterritorykey,salesordernumber,salesorderlinenumber,...,productstandardcost,totalproductcost,salesamount,taxamt,freight,carriertrackingnumber,customerponumber,orderdate,duedate,shipdate
0,310,20101229,20110110,20110105,21768,1,19,6,SO43697,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
1,346,20101229,20110110,20110105,28389,1,39,7,SO43698,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
2,346,20101229,20110110,20110105,25863,1,100,1,SO43699,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
3,336,20101229,20110110,20110105,14501,1,100,4,SO43700,1,...,413.1463,413.1463,699.0982,55.9279,17.4775,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
4,346,20101229,20110110,20110105,11003,1,6,9,SO43701,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
5,311,20101230,20110111,20110106,27645,1,100,4,SO43702,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,NaN,NaN,2010-12-30 00:00:00.000,2011-01-11 00:00:00.000,2011-01-06 00:00:00.000
6,310,20101230,20110111,20110106,16624,1,6,9,SO43703,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,NaN,NaN,2010-12-30 00:00:00.000,2011-01-11 00:00:00.000,2011-01-06 00:00:00.000
7,351,20101230,20110111,20110106,11005,1,6,9,SO43704,1,...,1898.0944,1898.0944,3374.9900,269.9992,84.3748,NaN,NaN,2010-12-30 00:00:00.000,2011-01-11 00:00:00.000,2011-01-06 00:00:00.000
8,344,20101230,20110111,20110106,11011,1,6,9,SO43705,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,NaN,NaN,2010-12-30 00:00:00.000,2011-01-11 00:00:00.000,2011-01-06 00:00:00.000
9,312,20101231,20110112,20110107,27621,1,100,4,SO43706,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,NaN,NaN,2010-12-31 00:00:00.000,2011-01-12 00:00:00.000,2011-01-07 00:00:00.000

In [9]:
df_dask = dd.read_csv(data)
df_dask.columns = [col.lower() for col in df_dask.columns]
df_dask.head(10)

,productkey,orderdatekey,duedatekey,shipdatekey,customerkey,promotionkey,currencykey,salesterritorykey,salesordernumber,salesorderlinenumber,...,productstandardcost,totalproductcost,salesamount,taxamt,freight,carriertrackingnumber,customerponumber,orderdate,duedate,shipdate
0,310,20101229,20110110,20110105,21768,1,19,6,SO43697,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
1,346,20101229,20110110,20110105,28389,1,39,7,SO43698,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
2,346,20101229,20110110,20110105,25863,1,100,1,SO43699,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
3,336,20101229,20110110,20110105,14501,1,100,4,SO43700,1,...,413.1463,413.1463,699.0982,55.9279,17.4775,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
4,346,20101229,20110110,20110105,11003,1,6,9,SO43701,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
5,311,20101230,20110111,20110106,27645,1,100,4,SO43702,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,NaN,NaN,2010-12-30 00:00:00.000,2011-01-11 00:00:00.000,2011-01-06 00:00:00.000
6,310,20101230,20110111,20110106,16624,1,6,9,SO43703,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,NaN,NaN,2010-12-30 00:00:00.000,2011-01-11 00:00:00.000,2011-01-06 00:00:00.000
7,351,20101230,20110111,20110106,11005,1,6,9,SO43704,1,...,1898.0944,1898.0944,3374.9900,269.9992,84.3748,NaN,NaN,2010-12-30 00:00:00.000,2011-01-11 00:00:00.000,2011-01-06 00:00:00.000
8,344,20101230,20110111,20110106,11011,1,6,9,SO43705,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,NaN,NaN,2010-12-30 00:00:00.000,2011-01-11 00:00:00.000,2011-01-06 00:00:00.000
9,312,20101231,20110112,20110107,27621,1,100,4,SO43706,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,NaN,NaN,2010-12-31 00:00:00.000,2011-01-12 00:00:00.000,2011-01-07 00:00:00.000

In [7]:
df_dask = dd.from_pandas(df, npartitions=4)
df_dask.head(10)

,productkey,orderdatekey,duedatekey,shipdatekey,customerkey,promotionkey,currencykey,salesterritorykey,salesordernumber,salesorderlinenumber,...,productstandardcost,totalproductcost,salesamount,taxamt,freight,carriertrackingnumber,customerponumber,orderdate,duedate,shipdate
0,310,20101229,20110110,20110105,21768,1,19,6,SO43697,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
1,346,20101229,20110110,20110105,28389,1,39,7,SO43698,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
2,346,20101229,20110110,20110105,25863,1,100,1,SO43699,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
3,336,20101229,20110110,20110105,14501,1,100,4,SO43700,1,...,413.1463,413.1463,699.0982,55.9279,17.4775,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
4,346,20101229,20110110,20110105,11003,1,6,9,SO43701,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
5,311,20101230,20110111,20110106,27645,1,100,4,SO43702,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,NaN,NaN,2010-12-30 00:00:00.000,2011-01-11 00:00:00.000,2011-01-06 00:00:00.000
6,310,20101230,20110111,20110106,16624,1,6,9,SO43703,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,NaN,NaN,2010-12-30 00:00:00.000,2011-01-11 00:00:00.000,2011-01-06 00:00:00.000
7,351,20101230,20110111,20110106,11005,1,6,9,SO43704,1,...,1898.0944,1898.0944,3374.9900,269.9992,84.3748,NaN,NaN,2010-12-30 00:00:00.000,2011-01-11 00:00:00.000,2011-01-06 00:00:00.000
8,344,20101230,20110111,20110106,11011,1,6,9,SO43705,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,NaN,NaN,2010-12-30 00:00:00.000,2011-01-11 00:00:00.000,2011-01-06 00:00:00.000
9,312,20101231,20110112,20110107,27621,1,100,4,SO43706,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,NaN,NaN,2010-12-31 00:00:00.000,2011-01-12 00:00:00.000,2011-01-07 00:00:00.000

In [16]:
pip install dask

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting dask
  Downloading dask-2024.8.0-py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: click>=8.1 in /Users/omondidenzel/Library/Python/3.9/lib/python/site-packages (from dask) (8.1.8)
Collecting cloudpickle>=1.5.0 (from dask)
  Downloading cloudpickle-3.1.1-py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: fsspec>=2021.09.0 in /Users/omondidenzel/Library/Python/3.9/lib/python/site-packages (from dask) (2025.3.0)
Requirement already satisfied: packaging>=20.0 in /Users/omondidenzel/Library/Python/3.9/lib/python/site-packages (from dask) (25.0)
Collecting partd>=1.4.0 (from dask)
  Downloading partd-1.4.2-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: pyyaml>=5.3.1 in /Users/omondidenzel/Library/Python/3.9/lib/python/site-packages (from dask) (6.0.2)
Collecting toolz>=0.10.0 (from dask)
  Downloading toolz-1.0.0-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: importlib-metadata>=4.13.0 in /Users/omondidenzel/Library/Python/3.9/lib/python/site-packages (from dask) (8.7.0)
Requirement already satisfied: zipp>=3.20 in /Users/omondidenzel/Library/Python/3.9/lib/python/site-packages (from importlib-metadata>=4.13.0->dask) (3.23.0)
Collecting locket (from partd>=1.4.0->dask)
  Downloading locket-1.0.0-py2.py3-none-any.whl.metadata (2.8 kB)
Downloading dask-2024.8.0-py3-none-any.whl (1.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 3.2 MB/s  0:00:00 eta 0:00:01
Downloading cloudpickle-3.1.1-py3-none-any.whl (20 kB)
Downloading partd-1.4.2-py3-none-any.whl (18 kB)
Downloading toolz-1.0.0-py3-none-any.whl (56 kB)
Downloading locket-1.0.0-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: toolz, locket, cloudpickle, partd, dask
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5/5 [dask][32m4/5 [dask]
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Successfully installed cloudpickle-3.1.1 dask-2024.8.0 locket-1.0.0 partd-1.4.2 toolz-1.0.0

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: /opt/homebrew/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.